---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.fab.fa-fw.fa-orcid {
    color: #A6CE39;
}

.fab.fa-fw.fa-stack-overflow {
    color: #000000;
}
